/backend_doc/
*.pyc

.idea
local.*
/local_data/
static/rest_framework/

config/

vendor/
bower_components/
*.log
.cache
settings/settings_production.py
settings/settings_test.py

# Run time set up
gunicorn_start
run/